body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the height of the parent to the full viewport height */
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
